言語処理百本ノック-02
https://nlp100.github.io/ja/ch02.html

  # 第2章: UNIXコマンド

In [1]:
text_file_name = 'popular-names.txt'

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ

In [2]:
!ls

col1.txt  col2.txt  merge.txt  popular-names.txt  sample_data

In [3]:
def solve10():
  with open(text_file_name,'r') as file:
    lines = file.readlines()
  answer = len(lines)
  return answer
solve10()

2780

In [4]:
!wc -l popular-names.txt

2780 popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [5]:
def solve11():
  with open(text_file_name,'r') as file:
    lines = file.readlines()
    answer = ''.join([ line.replace('\t',' ') for line in lines ])
  return answer
print(solve11()[:100],'...')

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret ...

In [6]:
!sed -e 's/\t/ /g' popular-names.txt | head -n 12

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
John M 9655 1880
William M 9532 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [7]:
col1_file_name = 'col1.txt'
col2_file_name = 'col2.txt'
def solve12():
  with open(text_file_name,'r') as file:
    lines = file.readlines()
  rows = [ line.split() for line in lines  ]
  col1 = '\n'.join([ row[0] for row in rows ])
  col2 = '\n'.join([ row[1] for row in rows ])
  for file_name, col in zip([col1_file_name,col2_file_name],[col1,col2]):
    with open(file_name,'w') as file:
      file.write(col)
solve12()
!head col1.txt -n 5
!head col2.txt -n 5

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

In [8]:
!cut -f1 popular-names.txt > col1.txt
!cut -f2 popular-names.txt > col2.txt
!cat col1.txt | head -n 5
!head col2.txt -n 5

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [9]:
col_file_names = ['col1.txt','col2.txt']
merge_file_name = 'merge.txt'
def solve13():
  rows = [None for _ in range(2)]
  for i, file_name in enumerate(col_file_names):
    with open(file_name,'r') as file:
      rows[i] = [ line.split()[0] for line in file.readlines() ]
  merge = '\n'.join([str(item1)+'\t'+str(item2) for item1,item2 in zip(rows[0],rows[1]) ])
  with open(merge_file_name,'w') as file:
    file.write(merge)
solve13()
!head merge.txt -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [10]:
!paste col1.txt col2.txt > merge.txt
!head merge.txt -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [11]:
def solve14(file_name,N):
  with open(file_name,'r') as file:
    lines = file.readlines()
  head = ''.join(lines[:N])
  return head

# import sys
# argv = sys.argv
# file_name = argv[1]
# N = int(argv[2])
print(solve14('popular-names.txt',5))

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [12]:
!head popular-names.txt -n 5

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [13]:
def solve15(file_name,N):
  with open(file_name,'r') as file:
    lines = file.readlines()
  tail = ''.join(lines[-N:])
  return tail

# import sys
# argv = sys.argv
# file_name = argv[1]
# N = int(argv[2])
print(solve15('popular-names.txt',5))

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [14]:
!tail popular-names.txt -n 5

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [15]:
def solve16(file_name,N):
  import math
  with open(file_name,'r') as file:
    lines = file.readlines()
  length = len(lines)
  M = math.ceil(length/N)
  blocks = [ ''.join(lines[idx:idx+M]) for idx in range(0,length,M) ]
  for i,block in enumerate(blocks):
    with open('block_{0}.txt'.format(str(i).zfill(2)),'w') as file:
      file.write(block)
solve16('popular-names.txt',5)
!ls

block_00.txt  block_02.txt  block_04.txt  col2.txt   popular-names.txt
block_01.txt  block_03.txt  col1.txt	  merge.txt  sample_data

In [16]:
!split popular-names.txt block_ -n 5 -d
!ls

block_00      block_01.txt  block_03	  block_04.txt	merge.txt
block_00.txt  block_02	    block_03.txt  col1.txt	popular-names.txt
block_01      block_02.txt  block_04	  col2.txt	sample_data

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [17]:
def solve17(file_name):
  with open(file_name,'r') as file:
    lines = file.readlines()
  uniques = list(set([line.split()[0] for line in lines]))
  return sorted(uniques)
solve17('popular-names.txt')[:5]

['Abigail', 'Aiden', 'Alexander', 'Alexis', 'Alice']

In [18]:
! cut -f 1 popular-names.txt | sort | uniq  | head -n 5

Abigail
Aiden
Alexander
Alexis
Alice

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [19]:
def solve18(file_name):
  with open(file_name,'r') as file:
    lines = file.readlines()
  rows = [ line.split() for line in lines ]
  sorted_rows = sorted(rows, key=lambda x:int(x[2]),reverse=True)
  return sorted_rows
solve18('popular-names.txt')[:10]

[['Linda', 'F', '99689', '1947'],
 ['Linda', 'F', '96211', '1948'],
 ['James', 'M', '94757', '1947'],
 ['Michael', 'M', '92704', '1957'],
 ['Robert', 'M', '91640', '1947'],
 ['Linda', 'F', '91016', '1949'],
 ['Michael', 'M', '90656', '1956'],
 ['Michael', 'M', '90517', '1958'],
 ['James', 'M', '88584', '1948'],
 ['Michael', 'M', '88528', '1954']]

In [20]:
!sort popular-names.txt -k 3 -n -r | head -n 10

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [21]:
def solve19(file_name):
  import pandas as pd
  df = pd.read_table(file_name, header=None)
  return df[0].value_counts()
solve19('popular-names.txt')[:10]

James        118
William      111
John         108
Robert       108
Mary          92
Charles       75
Michael       74
Elizabeth     73
Joseph        70
Margaret      60
Name: 0, dtype: int64

In [22]:
!cut popular-names.txt -f 1 | sort | uniq -c | sort -n -r | head -n 10

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret